body {
    font-family: Roboto, sans-serif;
    text-align: center;
    color: #595959;
    font-weight: bold;
    background: linear-gradient(to right, #c00000 50%, #0000c0 50%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 { 
    font-size: 130px; 
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'consolas';
    word-wrap: break-word;
    padding: 10px;
    line-height: 110px;
}

h3 { 
    font-size: 40px; 
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'consolas';
    padding: 0px;
    line-height: 10px;
    margin-top: 30px;
}

strong {
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.cronometro {
    margin: 0;
    padding: 0;
}

.centro {
    width: 100vw; /* Ocupa toda a largura */
    height: 100vh; /* Ocupa toda a altura */
    position: absolute; /* Fica sobre os outros elementos */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1; /* Coloca atrás dos outros elementos */
}

.div-item {
    /* Estilos para cada div individual */
    /* width: 100px; Largura da div */
    color: #fff;
    margin: 8px; /* Espaço entre as divs */
}

.div-row {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap; /* Permite que as divs se movam para a próxima linha se não houver espaço suficiente */
}

.div-column {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    flex-direction: column;
}

.placar {
    width: 100vw; /* Ocupa toda a largura */
    height: 90vh; /* Ocupa toda a altura */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

button {
    margin: 2px;
    padding: 7px;
    font-size: 10px;
    font-family: Arial;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid silver;
    border-radius: 5px;
}

button:hover {
    background-color: #fbc900;
}

.button-selection {
    font-size: large;
}

.footer-container {
    position: fixed;
    bottom: 50px;
    width: 100%;
    display: flex;
}

.footer-box {
    width: 50%;
    height: 50px; /* Ajuste conforme necessário */
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.footer-box-item{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}

.select {
  width:250px;
  height:40px;
  background-color: #fff;
  border-radius: 5px;
  border: 0;
  padding: 0 0 0 10px;
  margin: 5px;
}